button.filled.reviewBtn {
    margin: 15px auto;
    display: block;
    width: 220px;
}


form#review-form {
    background: var(--primary);
    padding: 30px 40px;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
}



button.filled.reviewFormBtn {
    width: 100px;
    height: 50px;
}


/* From Uiverse.io by PriyanshuGupta28 */
.rating {
    display: inline-block;
}

.rating input {
    display: none;
}

.rating label {
    float: right;
    cursor: pointer;
    color: #ffffff;
    transition: color 0.3s;
}

.rating label:before {
    content: '\2605';
    font-size: 30px;
}

.rating input:checked~label,
.rating label:hover,
.rating label:hover~label {
    color: var(--secondary);
    transition: color 0.3s;
}



@media screen and (max-width:500px) {
    form#review-form {
        width: 100%;
        padding: 30px 25px;
    }
}